<nav>
  <a mat-stroked-button routerLink="/dashboard">Back</a>
</nav>

<br>
<button mat-stroked-button color="warn" (click)="deleteTodo()"> Delete</button>

<br>
<br>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{selectedTodo?.title}}</mat-card-title>
    <mat-card-subtitle>{{selectedTodo?.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div [ngSwitch]="selectedTodo?.priority">
      <div *ngSwitchCase="0">
        Priority: Critical
      </div>
      <div *ngSwitchCase="1">
        Priority: Medium
      </div>
      <div *ngSwitchCase="2">
        Priority: Low
      </div>
    </div>
    <div [ngSwitch]="selectedTodo?.state">
      <div *ngSwitchCase="0">
        State: New
      </div>
      <div *ngSwitchCase="1">
        State: Active
      </div>
      <div *ngSwitchCase="2">
        State: Resolved
      </div>
      <div *ngSwitchCase="3">
        State: Closed
      </div>
    </div>
    <div>
      Estimate: {{selectedTodo?.estimate | date:"shortDate"}}
    </div>
  </mat-card-content>

</mat-card>
