<div *ngIf="allEmployees.length==0">
  No employee data found. <a routerLink="/employees/new-employee">Please create employee records</a>
</div>
<div *ngIf="allEmployees.length!=0" class="row" #todoDashboard>
  <button mat-stroked-button color="primary" (click)="onNewTodo()">New Todo</button>

  <div class="column">
    <h2>Employees</h2>
    <mat-selection-list #employees>
      <mat-list-option [selected]="selectedEmployee.id == employee.id" *ngFor="let employee of allEmployees;"
                       (click)="onEmployeeSelected(employee)">
        {{employee.firstName}} {{employee.lastName}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="column">
    <h2>Todo Items</h2>
    <mat-selection-list #todos>
      <mat-list-option *ngFor="let todo of allTodos" (click)="onTodoSelected(todo)">
        {{todo.title}} ({{priorityOptions[todo.priority]}})
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
