.example-form {
  min-width: 150px;
  max-width:  100%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  max-width: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
