<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>New Employee</mat-card-title>
    <mat-card-subtitle>Create new employee record</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" #newEmployeeForm="ngForm" (ngSubmit)="createEmployeeRecord()">
      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Enter first name" [(ngModel)]="newEmployee.firstName" name="firstName"
               required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Enter last name" [(ngModel)]="newEmployee.lastName" name="lastName"
               required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Enter email" [(ngModel)]="newEmployee.email" name="email"
               required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Department</mat-label>
        <input matInput placeholder="Enter department" [(ngModel)]="newEmployee.department" name="department">
      </mat-form-field>
      <mat-card-actions>
        <button mat-button type="submit" [disabled]="!newEmployeeForm.valid" color="primary">Create</button>
        <button mat-button routerLink="/employees" color="warn">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card-content>

</mat-card>
